@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
.banner {
    background: url("../img/banner.png");
    background-size: cover;
    background-position: bottom;
    min-height: 20rem;
    font-family: 'The Nautigal', cursive;
}