<form id="form-fornecedor">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-6 col-md-6">
            <label>CNPJ</label>
            <input type="text" name="CNPJ" id="CNPJ" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label>Inscrição Estadual</label>
            <input type="text" name="IESTADUAL" id="IESTADUAL" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-3 col-md-3">
            <label>CEP</label>
            <input type="number" name="CEP" id="CEP" class="form-control">
        </div>
        <div class="col-12 col-sm-7 col-md-7">
            <label>Logradouro</label>
            <input type="text" name="LOGRADOURO" id="LOGRADOURO" class="form-control">
        </div>
        <div class="col-12 col-sm-2 col-md-2">
            <label>Número</label>
            <input type="number" name="NUMERO" id="NUMERO" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-5 col-md-5">
            <label>Bairro</label>
            <input type="text" name="BAIRRO" id="BAIRRO" class="form-control">
        </div>
        <div class="col-12 col-sm-5 col-md-5">
            <label>Cidade</label>
            <input type="text" name="CIDADE" id="CIDADE" class="form-control">
        </div>
        <div class="col-12 col-sm-2 col-md-2">
            <label>UF</label>
            <input type="text" name="UF" id="UF" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-6 col-md-6">
            <label>Telefone</label>
            <input type="text" name="TELEFONE" id="TELEFONE" class="form-control">
        </div>
    </div>
    <input type="hidden" name="ID" id="ID">
</form>