<div class="row mt-5">
    <div class="col-12">
        <div class="card shadow mt-5">
            <div class="card-header">
                <div class="card-title">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h4 class="text-danger">
                                Gerenciar Fornecedores
                            </h4>
                        </div>
                        <div class="col-12 col-md-2">
                            <button class="btn btn-success btn-block btn-new">
                                <i class="mdi mdi-plus-circle"></i> Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="table-fornecedor">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">NOME</th>
                                <th scope="col" class="text-center">TELEFONE</th>
                                <th scope="col" class="text-center">AÇÕES</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Janela modal para recebimento das funcionalidades do CRUD -->
<div id="modal-fornecedor" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Title</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Content</p>
            </div>
            <div class="modal-footer">
                <button id="close" class="btn btn-secondary"><i class="mdi mdi-close-circle"></i> Fechar</button>
                <button class="btn btn-success btn-save"><i class="mdi mdi-content-save"></i> Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- linkagem de todas as funcionalidade jQuery que serão utilizadas em tela -->

<script src="src/fornecedor/controller/list-fornecedor.js"></script>
<script src="src/fornecedor/controller/new-fornecedor.js"></script>
<script src="src/fornecedor/controller/save-fornecedor.js"></script>
<script src="src/fornecedor/controller/view-fornecedor.js"></script>
<script src="src/fornecedor/controller/edit-fornecedor.js"></script>