<form id="form-produto">
    <div class="form-group">
        <label>Código de barras</label>
        <input type="text" name="CODIGOBARRAS" id="CODIGOBARRAS" class="form-control">
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-6 col-md-6">
            <label>Nome</label>
            <input type="text" name="NOME" id="NOME" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label>Marca</label>
            <input type="text" name="MARCA" id="MARCA" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-6 col-md-6">
            <label>Valor de compra</label>
            <input type="number" step="any" name="VLRCOMPRA" id="VLRCOMPRA" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label>valor de venda</label>
            <input type="number" step="any" name="VLRVENDA" id="VLRVENDA" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-6 col-md-6">
            <label>Fornecedor</label>
            <select name="FORNECEDOR_ID" id="FORNECEDOR_ID" class="form-control">
                <option value="">Selecione o fornecedor ...</option>
            </select>
        </div>
    </div>
    <input type="hidden" name="ID" id="ID">
</form>