<form id="form-atendente">
    <div class="form-group">
        <label>Nome do atendente</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group">
        <label>Login do atendente</label>
        <input type="text" name="LOGIN" id="LOGIN" class="form-control">
    </div>
    <div class="form-group">
        <label>Senha do atendente</label>
        <input type="password" name="SENHA" id="SENHA" class="form-control">
    </div>
    <input type="hidden" name="ID" id="ID">
</form>